.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.panel__board-sizes {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.panel__button {
  padding: 0.5rem 1rem;
  border: 1px solid #7ab;
  border-radius: 4px;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  font-size: 1rem;
}

.panel__button--selected {
  background-color: #7ab;
  color: #fff;
}

.panel__actions {
  display: flex;
  gap: 0.5rem;
}

.board__columns {
  padding: 0.5rem 1.5rem;
  display: grid;
  gap: 1rem;
}

.board__columns--7x6 {
  grid-template-columns: repeat(7, 1fr);
}

.board__columns--8x7 {
  grid-template-columns: repeat(8, 1fr);
}

.board__columns--9x8 {
  grid-template-columns: repeat(9, 1fr);
}

.board__column {
  position: relative;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.board__drop-button {
  width: min(100%, 28px);
  aspect-ratio: 1 / 1;
  border: 3px solid #aaa;
  border-radius: 50%;
  background: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.5);
}

.board__arrow-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.board__grid {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  background-color: #7ab;
  border-radius: 4px;
  box-shadow: var(--shadow-board-inner), var(--shadow-board-outer);
  overflow: hidden;
}

.board__grid--7x6 {
  grid-template-columns: repeat(7, 1fr);
}

.board__grid--8x7 {
  grid-template-columns: repeat(8, 1fr);
}

.board__grid--9x8 {
  grid-template-columns: repeat(9, 1fr);
}

.board__cell {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: var(--shadow-inner), var(--shadow-light), var(--shadow-dark);
}

.board__disc {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow-inner);
}

.board__disc::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: inherit;
  box-shadow: inherit;
}

.board__disc--preview {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(5px);
  display: none;
  pointer-events: none;
}

.board__disc--red {
  background-color: #d22;
}

.board__disc--yellow {
  background-color: #fc0;
}

.board__disc--faded {
  filter: opacity(70%) grayscale(60%) contrast(40%);
}

.board__disc-icon {
  width: 70%;
  height: 70%;
}

.board__cell > .board__disc {
  animation: drop 250ms ease-out;
}

@keyframes drop {
  from {
    transform: translateY(-30rem);
  }

  to {
    transform: translateY(0);
  }
}

@media (min-width: 550px) {
  .panel {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (hover: hover) and (pointer: fine) {
  .panel__button:hover {
    background-color: #7ab;
    color: #fff;
  }

  .panel__button:active {
    filter: brightness(0.95);
  }

  .board__drop-button:hover + .board__disc--preview,
  .board__drop-button:focus-visible + .board__disc--preview {
    display: block;
  }
}
