.board__controls {
  padding: 0.5rem 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

.board__column {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.board__btn {
  width: min(100%, 28px);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #aaa;
  border-radius: 50%;
  background: none;
}

.board__arrow {
  width: 100%;
  height: 100%;
  color: #aaa;
}

.board__grid {
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  background-color: #7ab;
  border-radius: 4px;
}

.board__cell {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
}
