.board__controls {
  padding: 0.5rem 1.5rem;
  display: grid;
  gap: 1rem;
}

.board__controls--7x6 {
  grid-template-columns: repeat(7, 1fr);
}

.board__controls--8x7 {
  grid-template-columns: repeat(8, 1fr);
}

.board__controls--9x8 {
  grid-template-columns: repeat(9, 1fr);
}

.board__column {
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.board__btn {
  width: min(100%, 28px);
  aspect-ratio: 1 / 1;
  border: 3px solid #aaa;
  border-radius: 50%;
  background: none;
}

.board__arrow-icon {
  display: block;
  width: 100%;
  height: 100%;
}

.board__grid {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
  background-color: #7ab;
  border-radius: 4px;
}

.board__grid--7x6 {
  grid-template-columns: repeat(7, 1fr);
}

.board__grid--8x7 {
  grid-template-columns: repeat(8, 1fr);
}

.board__grid--9x8 {
  grid-template-columns: repeat(9, 1fr);
}

.board__cell {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background-color: #fff;
}

.board__disc {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.board__disc--red {
  background-color: #d22;
}

.board__disc--yellow {
  background-color: #fc0;
}

.board__disc-icon {
  width: 70%;
  height: 70%;
}
